<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Fenrir Control Panel</title>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.168.0/examples/jsm/",
          "three/examples/jsm/": "https://cdn.jsdelivr.net/npm/three@v0.168.0/examples/jsm/",
          "urdf-loader":"https://cdn.jsdelivr.net/npm/urdf-loader@0.12.3/src/URDFLoader.min.js"
        }
      }
    </script>

</head>

<body>
    <div class="split-container">
        <div class="split-column split-left">
            <div id="top-left" class="split-section upper-section">

            </div>
            <div class="split-section lower-section">
                    <p id="robot-data">Nothing yet</p>
            </div>
        </div>
        <div class="split-column split-right">
            <div class="split-section upper-section ctrl-container">
                    <div class="column-left">
                        <p id="gamepad-info"> Waiting for Gamepad.</p> 

                        <div class ="status-container">
                            <span class="status-text">Fenrir</span>
                            <div id="ws-connection-status" class="connection-status disconnected"></div>
                        </div>
                        <div class ="status-container">
                            <span class="status-text">Controller</span>
                            <div id="ctrl-connection-status" class="connection-status disconnected"></div>
                        </div>

                        <div class="tri-state-toggle">
				<button class="tri-state-toggle-button" id="toggle-manual">
					Manual
				</button>
				<button class="tri-state-toggle-button" id="toggle-controller">
					Controller
				</button>
				<button class="tri-state-toggle-button" id="toggle-disable">
					Disable
				</button>
			</div>

                        <br><br>
                        <label for="accmin">Accel Min</label>
                        <input class="input" type="text" id="accmin">

                        <label for="accmax">Accel Min</label>
                        <input class="input" type="text" id="accmax">

                        <br><br>
                        <label for="speed">Speed</label>
                        <input class="input" type="text" id="speed">

                        <label for="stdev">Std. Dev.</label>
                        <input class="input" type="text" id="stdev">
                        <br><br>
                        <button class="my-button" id="btn-speed-config">Update</button>
                    </div>
                    <div class="column-right">
                        <p id="gamepad-data">Waiting for D</p>
                        <button class="my-button" id="btn-home">Home</button>
                        <br><br>
                        <label for="coords-input">Angles</label>
                        <input class="input" type="text" id="angles-input">
                        <button class="my-button" id="btn-angles-go">Go</button>
                        <br><br>
                        <label for="coords-input">Coords</label>
                        <input class="input" type="text" id="coords-input">
                        <button class="my-button" id="btn-coords-go">Go</button>
                        <br><br>
                        <div class ="status-container">
                            <!-- <p>Smoothing</p> -->
                            <span class="status-text">Smoothing</span>
                            <label class="switch">
                                <input type="checkbox" id="check-smoothing">
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
            </div>
            <div class="split-section lower-section">
                <h1>Right Bottom Section</h1>
                    <p><br>This is the bottom section on the right side. {{ somevar }}</p>
            </div>
        </div>
    </div>
    <script type="module" src="/static/sim.js"></script>
    <script type="module" src="/static/main.js"></script>
</body>

</html>

